extends layout

block content
  -
    text = {
      more: ["More", "更多"],
      aboutSummary: ["Hello! Welcome to my website.", "你好！欢迎来到我的网站。"],
      projectsHeading: ["Recent projects:", "最近的项目："],
      noProjects: ["No projects", "暂无项目"],
      blogHeading: ["Recent blog posts:", "最近的博客文章："],
      noProjects: ["No blogs", "暂无博客"],
      projects: [],
      blogs: []
    };
    for (project of projects) {
      text.projects.push({
        title: [project.titleEn, project.titleCn],
        description: [project.descriptionEn, project.descriptionCn],
        tags: project.tags == 0 ? 
          (language == "en" ? ["No tags"] : ["没有标签"]) :
          project.tags,
        coverImage: project.coverImage,
        url: [project.urlEn, project.urlCn]
      });
    }
    for (blog of blogs) {
      text.blogs.push({
        title: [blog.titleEn, blog.titleCn],
        description: [blog.descriptionEn, blog.descriptionCn],
        tags: blog.tags == 0 ? 
          (language == "en" ? ["No tags"] : ["没有标签"]) :
          blog.tags,
        coverImage: blog.coverImage,
        url: [blog.urlEn, blog.urlCn]
      });
    }
  p#about-text
    | #{text.aboutSummary[lang]}  
    a(href='/' + language + '/about') #{text.more[lang]}
  div.break
  center #[p #{text.projectsHeading[lang]}]
  div.quick-view
    each project in text.projects
      div.box
        strong.title #[p #{project.title[lang]}]
        div.tagspace
          each tag in project.tags
            span.tag #{tag}
        img.cover-image(src=project.coverImage)
        p.description
          | #{project.description[lang]}
          a(href=project.url[lang]) #{text.more[lang]}
    else
      p #{text.noProjects[lang]}
  center
    a(href='/' + language + '/projects/1')
      p #{text.more[lang]}
  div.break          
  center #[p #{text.blogHeading[lang]}]
  div.quick-view
    each blog in text.blogs
      div.box
        strong.title #[p #{blog.title[lang]}]
        div.tagspace
          each tag in blog.tags
            span.tag #{tag}
        img.cover-image(src=blog.coverImage)
        p.description
          | #{blog.description[lang]}
          a(href=blog.url[lang]) #{text.more[lang]}
    else
      p #{text.noProjects[lang]}
  center
    a(href='/' + language + '/blogs/1')
      p #{text.more[lang]}
