extends layout

block content
  -
    let text = {};
    if (language === "en") {
      text.aboutSummary = "Hi, I’m Tom. I like to make stuff with software. I’m a full stack developer and I also write algorithms using C/C++. As my resume says, I’m a student programmer/engineer.";
      text.aboutLink = "More about me";
      text.projectsHeading = "What I'm working on:";
      text.projects = [];
      for (project of projects) {
        text.projects.push({
          title: project.titleEn,
          tags: project.tags,
          coverImage: project.coverImage,
          description: project.descriptionEn,
          url: project.urlEn
        });
      }
      text.postLink = "More";
      text.noProjects = "No projects";
      text.moreProjects = "More projects";
      text.blogHeading = "Latest from the blog:";
      text.blogs = [];
      for (blog of blogs) {
        text.blogs.push({
          title: blog.titleEn,
          tags: blog.tags,
          coverImage: blog.coverImage,
          description: blog.descriptionEn,
          url: blog.urlEn
        });
      }
      text.moreBlogs = "More blogs"
    } else if (language === "cn") {
      text.aboutSummary = "你好，我是Tom。我喜欢用软件创作东西。我是一位全栈开发者，我也用C/C++写算法。据我的简历所写，我是一位学生软件工程师。";
      text.aboutLink = "更多";
      text.projectsHeading = "近期项目：";
      text.projects = [];
      for (project of projects) {
        let tags = project.tags[0] == "not tagged" && language == "cn" ? new Array("无标签") : project.tags;
        text.projects.push({
          title: project.titleCn,
          tags: tags,
          coverImage: project.coverImage,
          description: project.descriptionCn,
          url: project.urlCn
        });
      }
      text.postLink = "更多";
      text.noProjects = "没有项目";
      text.moreProjects = "更多项目";
    }
  p#about-text
    | #{text.aboutSummary}  
    a(href='/en/about') #{text.aboutLink}
  div.break
  center #[p #{text.projectsHeading}]
  div.quick-view
    each project in text.projects
      div.box
        strong.title #[p #{project.title}]
        div.tagspace
          each tag in project.tags
            span.tag #{tag}
        img.cover-image(src=project.coverImage)
        p.description
          | #{project.description}
          a(href=project.url) #{text.postLink}
    else
      p #{text.noProjects}
  center
    a(href='projects.html')
      p #{text.moreProjects}
  div.break
        
  // Blog showcase
  center #[p #{text.blogHeading}]
  div.quick-view
    each blog in text.blogs
      div.box
        strong.title #[p #{blog.title}]
        div.tagspace
          each tag in blog.tags
            span.tag #{tag}
        img.cover-image(src=blog.coverImage)
        p.description
          | #{blog.description}
          a(href=blog.url) #{text.postLink}
    else
      p #{text.noProjects}
  center
    a(href='blog.html')
      p #{text.moreBlogs}
