nav#navbar(data-select=page)
  div.hamburger.icon(onclick='toggleHamburger()')
  -
    text = {
      header: '/' + language,
      home: ["Home", "主页"],
      about: ["About", "关于"],
      projects: ["Projects", "项目"],
      blog: ["Blog", "博客"],
      contact: ["Contact", "联系"],
      user: ["User", "用户"]
    };
  div.navbox #[a(href=text.header) #{text.home[lang]}]
  div.navbox #[a(href=text.header + '/about') #{text.about[lang]}]
  div.navbox #[a(href=text.header + '/projects/1') #{text.projects[lang]}]
  div.navbox #[a(href=text.header + '/blogs/1') #{text.blog[lang]}]
  div.navbox #[a(href=text.header + '/contact') #{text.contact[lang]}]
  div.navbox #[a(href=text.header + '/user') #{text.user[lang]}]
