nav#navbar(data-select=page)
  div.hamburger.icon(onclick='toggleHamburger()')
  - var header = '/' + language;
  div.navbox #[a(href=header) Home]
  div.navbox #[a(href=header + '/about') About]
  div.navbox #[a(href=header + '/projects') Projects]
  div.navbox #[a(href=header + '/blog') Blog]
  div.navbox #[a(href=header + '/contact') Contact]
