extends layout

block content
  -
    let text = {
      posts: [],
      postLink: ["More", "更多"],
      noPosts: ["There are no results matching your filter", "找不到符合标签选项的结果"]
    };
    for (post of posts) {
      text.posts.push({
        title: [post.titleEn, post.titleCn],
        description: [post.descriptionEn, post.descriptionCn],
        tags: post.tags[0] == "not tagged" && language == "cn" ? ["没有标签"] : post.tags,
        coverImage: post.coverImage,
        url: [post.urlEn, post.urlCn]
      });
    }
  include tag_filter.pug
  div(id=page + '-container')
    each post in text.posts
      div.box
        strong.title #[p #{post.title[lang]}]
        div.tagspace
          each tag in post.tags
            span.tag #{tag}
        img.cover-image(src=post.coverImage)
        p.description
            span #{post.descriptionEn}
            a(href=post.url[lang]) #{text.postLink[lang]}
    else
      p #{text.noPosts[lang]}
  script.
    var language = !{JSON.stringify(language)};
    var page = !{JSON.stringify(page)};
    function redirect() {
      window.location.href=`/${language}/${page}`;
    }