extends layout

block content

  if language == "en"
    h3 #{post.titleEn}
  else if language == "cn"
    h3 #{post.titleEn}
  else
    h3 undefined language!
    
  div.tagspace
    | Tags: 
    each tag in post.tags
      span.tag #{tag}
  p.description
    | Description: 
    span #{post.descriptionEn}
  each block in post.blocks
    if (block.type == "text")

      if language == "en"
        p #{block.contentEn}
      else if language == "cn"
        p #{block.contentCn}
      else
        p undefined language!

    else if (block.type == "image")
      img.block-img(src=block.url)
    else
      p ERROR undefined block type