extends layout

block content
  h3
    if language == "en"
      | #{post.titleEn}
    else if language == "cn"
      | #{post.titleCn}
    
  div.tagspace
    if language == "en"
      | Tags: 
    else if language == "cn"
      | 标签：
    each tag in post.tags
      span.tag
        if tag == "not tagged" && language == "cn"
          | 无标签
        else
          | #{tag}

  p.description
    if language == "en"
      | Description: 
      span #{post.descriptionEn}
    else if language == "cn"
      | 描述：
      span #{post.descriptionCn}

  each block in post.blocks
    if (block.type == "text")
      p
        if language == "en"
          | #{block.contentEn}
        else if language == "cn"
          | #{block.contentCn}
    else if (block.type == "image")
      img.block-img(src=block.url)