extends layout

block content
  -
    text = {
      posts: [],
      postLink: ["More", "更多"],
      noPosts: ["There are no results matching your filter", "找不到符合标签选项的结果"],
      filter: ["Filter by tag:", "标签过滤："],
      allTags: ["All tags", "全部标签"],
      author: ["Author:", "作者："]
    };
    for (post of posts) {
      text.posts.push({
        title: [post.titleEn, post.titleCn],
        author: post.author,
        description: [post.descriptionEn, post.descriptionCn],
        tags: post.tags == 0 ? 
          (language == "en" ? ["No tags"] : ["没有标签"]) :
          post.tags,
        coverImage: post.coverImage,
        url: [post.urlEn, post.urlCn]
      });
    }

  form#tag-filter(method='GET' action='')
    | #{text.filter[lang]}
    button.tag(type='button' onclick='redirect()') #{text.allTags[lang]}
    each tag in tags
      button.tag(type='submit' name='tag' value=tag.name) #{tag.name}

  div(id=page + '-container')
    each post in text.posts
      div.box
        strong.title #[p #{post.title[lang]}]
        div.tagspace
          each tag in post.tags
            span.tag #{tag}
        | #{text.author[lang]} #{post.author}
        img.cover-image(src=post.coverImage)
        p.description
            span #{post.descriptionEn}
            a(href=post.url[lang]) #{text.postLink[lang]}
    else
      center
        p #{text.noPosts[lang]}
    include page_select.pug
  script.
    var language = !{JSON.stringify(language)};
    var page = !{JSON.stringify(page)};
    function redirect() {
      window.location.href=`/${language}/${page}/1`;
    }
