extends layout

block content
  h3 #{post.title_en}
  div.tagspace
    | Tags: 
    each tag in post.tags
      span.tag #{tag}
  p.description
    | Description: 
    span #{post.description_en}
  each block in post.blocks
    if (block.type == "text")
      p #{block.content_en}
    else if (block.type == "image")
      img.block-img(src=block.url)
    else
      p ERROR undefined block type