extends layout

block content
  -
    text = {
      title: [post.titleEn, post.titleCn],
      tagsHeading: ["Tags: ", "标签："],
      tags: post.tags == 0 ? 
        (language == "en" ? ["No tags"] : ["没有标签"]) :
        post.tags,
      descriptionHeading: ["Description: ", "描述："],
      descriptionContent: [post.descriptionEn, post.descriptionCn],
      author: ["Author:", "作者："],
      blocks: []
    };
    for (block of post.blocks) {
      text.blocks.push({
        type: block.type,
        content: block.type == "text" ? [block.contentEn, block.contentCn] : null,
        url: block.type == "image" ? block.url : null
      });
    }
  h3 #{text.title[lang]}
  div.tagspace
    | #{text.tagsHeading[lang]}
    each tag in text.tags
      span.tag #{tag}
  p.description
    | #{text.author[lang]} #{post.author}
  p.description
    | #{text.descriptionHeading[lang]}
    | #{text.descriptionContent[lang]}

  each block in text.blocks
    if (block.type == "text")
      p #{block.content[lang]}
    else if (block.type == "image")
      img.block-img(src=block.url)
