extends layout

block content
  h3 #{post.title}
  div.tagspace
    | Tags: 
    each tag in post.tags
      span.tag #{tag}
  p.description
    | Description: 
    span #{post.description}
  each block in post.blocks
    if (block.type == "text")
      p #{block.content}
    else if (block.type == "image")
      img.block-img(src=block.content)
    else
      p ERROR undefined block type