extends layout

block content
  h3 #{project.title}
  div.tagspace
    each tag in project.tags
      span.tag #{tag}
  p.description
    span #{project.description}
  each block in project.blocks
    if (block.type == "text")
      p #{block.content}
    else if (block.type == "image")
      img(src=block.content)
    else
      p ERROR undefined block type