extends layout

block content
  a(href='/create' style="margin-left: 10px") Create new project.
  p#tag-filter
    span Filter by tag:
    each tag in tags
      span.tag #{tag.title}
    else
      p There are no tags

  div#projects-container
    each project in projects
      div.box
        strong.title #[p #{project.title}]
        div.tagspace
          each tag in project.tags
            span.tag #{tag}
        img.cover-image(src=project.imgURL)
        p.description
          span #{project.description}
          | 
          a(href=project.url) More.
    else
      p There are no projects
    