extends layout

block content
  form#tag-filter(method='GET' action='')
    | Filter by tag:
    button.tag(type='button' onclick='location.href="/projects"') all tags
    each tag in tags
      button.tag(type='submit' name='tag' value=tag.title) #{tag.title}
    else
      p There are no tags

  div#projects-container
    each project in projects
      div.box
        strong.title #[p #{project.titleEn}]
        div.tagspace
          each tag in project.tags
            span.tag #{tag}
        img.cover-image(src=project.coverImage)
        p.description
          span #{project.descriptionEn}
          | 
          a(href=project.url) More.
    else
      p There are no projects matching your filter
    