extends layout

block content
  include tag_filter.pug
  div#projects-container
    each project in projects
      div.box

        if language == "en"
          strong.title #[p #{project.titleEn}]
        else if language == "cn"
          strong.title #[p #{project.titleCn}]

        div.tagspace
          each tag in project.tags
            span.tag #{tag}
        img.cover-image(src=project.coverImage)
        p.description

          if language == "en"
            span #{project.descriptionEn}
            a(href=project.urlEn) More
          else if language == "cn"
            span #{project.descriptionCn}
            a(href=project.urlCn) 更多

    else
      p
        if language == "en"
          | There are no projects matching your filter
        else if language == "cn"
          | 找不到符合标签选项的项目

  script.
    var language = !{JSON.stringify(language)};
    function redirect() {
      window.location.href=`/${language}/projects`;
    }
    