-
  text.filter = ["Filter by tag:", "标签过滤："];
  text.allTags = ["All tags", "全部标签"];
  text.noTags = ["No tags", "没有标签"];
form#tag-filter(method='GET' action='')
  | #{text.filter[lang]}
  button.tag(type='button' onclick='redirect()') #{text.allTags[lang]}
  each tag in text.tags
    button.tag(type='submit' name='tag' value=tag.title) #{tag.title}
  else
    p #{text.noTags[lang]}