extends layout

block content
  -
    text = {
      welcome: [`Hello ${username}`, `您好 ${username}`],
      logout: ["Log out", "注销账户"],
      control: ["Control panel", "控制面板"]
    };
  p#about-text
    span #{text.welcome[lang]}
    a(href='/' + language + '/control') #{text.control[lang]}
    form(method='POST' action='')
      button(type='submit') #{text.logout[lang]}
      input(type='hidden' name='requestMode' value='logout')
      // a(href='/' + language + '/user/logout') #{text.logout[lang]}
